body {
    background-image: url('background.png');
}

.register-panel{
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: -18%;
    margin-left: 65%;
}

.login-panel{
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: -18%;
    margin-left: 65%;
}

.register-card-title{
    font-size: 1.75rem;
    background: -webkit-linear-gradient(#a174b8, #fe7507);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Copperplate Gothic Light', Copperplate, Balthazar; 
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-card-title{
    font-size: 1.75rem;
    background: -webkit-linear-gradient(#a174b8, #fe7507);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Copperplate Gothic Light', Copperplate, Balthazar; 
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 30px;
}

.create-button{
    margin: 2%;
    width: 90%;
    height: 3.5rem;
    border-radius: 15px;
    border-style: none;
    font-size: 1.75rem;
    font-family: 'Copperplate Gothic Light', Copperplate, Balthazar; 
    font-weight: bolder;
    color: #ffff;
    background-image: linear-gradient(to right, #189dff, #6109ff);
}

.login-button{
    margin: 2%;
    width: 90%;
    height: 3.5rem;
    border-radius: 15px;
    border-style: none;
    font-size: 1.75rem;
    font-family: 'Copperplate Gothic Light', Copperplate, Balthazar; 
    font-weight: bolder;
    color: #ffff;
    background-image: linear-gradient(to right, #189dff, #6109ff);
}

.log-in-instead{
    font-family: 'Century Gothic'; 
    font-weight: bolder;
    color: #a1a1a1;
}
.log-in-instead a{
    color: #a1a1a1
}

.sign-in-instead{
    font-family: 'Century Gothic'; 
    font-weight: bolder;
    color: #a1a1a1;
}
.sign-in-instead a{
    color: #a1a1a1
}

.form-control {
    margin-bottom: 3%;
    margin-top: 3%;
}

.account-created-message{
    border-radius: 25px;
    padding: 1rem;
    width: 25%;
    text-align: center;
    background-color: #d2f4db;
    color: #46763a;
    list-style: none;
    margin-left: 62%;
    position: relative;
    top: -355px;
    

}

.form-control input{
    font-family: 'Century Gothic'; 
    font-size: .85rem;
    font-weight: 600;
    outline: none;
    text-align: center;
    background-color: #d3d4ce;
    border-radius: 25px;
    display: block;
    width: 90%;
    height: 3rem;
    margin-left: 4%;
    border-style: none;

}

.form-control input:focus{
    outline: none;
}


.errorlist{
    list-style: none;
    margin: 0;
    margin-top: .5rem;
    padding: 0;
    color: #680000;
}

.errors input{
    border-color: #680000;
    background-color: #d6000023;
}

.errors label{
    color: #680000;
}

.krishab-tag{
    color: white;
    padding: 1rem;
    width: 20%;
    text-align: center;
    margin-top: -1%;
    margin-left: 65%;

}

.text-group{
    font-size: 2.2em;
    margin-left: 13%;
    margin-top: 13%;
    font-family: 'Century Gothic'; 
    font-weight: bolder;
}

.text-one{
    background-color: #6f00ff1f;
    background-image: linear-gradient(45deg, #fe7204, #a97ef0, #a97ef0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.text-two{
    margin-top: -3%;
    background-color: #6f00ff1f;
    background-image: linear-gradient(45deg, #fe7204, #a97ef0, #a97ef0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.text-paragraph{
    color: white;
    margin-top: -2%;
    width: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
}