@font-face {
  font-family: "Copperplate Gothic Light";
  src: url(fonts/COPRGTB.TTF);
}

@font-face {
  font-family: "Century Gothic";
  src: url(fonts/GOTHICB.TTF);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: rgb(48,36,80);
  background: linear-gradient(135deg, rgba(48,36,80,1) 0%, rgba(40,41,83,1) 28%, rgba(0,69,98,1) 100%);
  font-family: "Century Gothic";
}

html {
  height: 100%;
  font-family: "Century Gothic";
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Century Gothic";
}

.form-control {
  margin: 1rem;
}

.form-control input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  display: block;
  width: 25%;
  margin-top: 0.5rem auto;
}

.form-control input:focus {
  border-color: #1f0050;
  outline: none;
  background-color: #f4eeff;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.errorlist {
  list-style: none;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  color: #680000;
}

.errors input {
  border-color: #680000;
  background-color: #d6000023;
}

.errors label {
  color: #680000;
}

::-webkit-scrollbar {
  width: 0px;
}

.incompleted-main-panel {
  background-color: white;
  margin: auto;
  margin-top: 1%;
  text-align: center;
  width: 35%;
  border-radius: 25px;
  padding: 2rem;
  overflow-y: auto;
  max-height: 60%;
}

.create-task-form{
  background-color: white;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  align-items: center;
  width: 35%;
  border-radius: 25px;
  padding: 2rem;
  overflow-y: auto;
  max-height: 60%;
}

.task-update-form{
  background-color: white;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  align-items: center;
  width: 35%;
  border-radius: 25px;
  padding: 2rem;
  overflow-y: auto;
  max-height: 60%;
}

.task-detail-page{
  background-color: white;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  align-items: center;
  width: 35%;
  border-radius: 25px;
  padding: 2rem;
  overflow-y: auto;
  max-height: 60%;
}
.delete-task-panel{
  background-color: white;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  align-items: center;
  width: 35%;
  border-radius: 25px;
  padding: 2rem;
  overflow-y: auto;
  max-height: 60%;
}

.task-update-form input{
  margin: auto;
  width: 35%;
  text-align: center;
}

.create-task-form input{
  margin: auto;
}

.create-task-form textarea{
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

.task-update-form textarea{
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

.page-title{
  font-size: 55px;
  font-family: "Century Gothic";
  width: fit-content;
  font-weight: bolder;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  margin-top: 4%;
  margin-bottom: -3%;
}

.task-cancel-button{
  width: 18%;
  margin-bottom: -5%;
  height: 1.85rem;
  border-radius: 15px;
  border-style: none;
  font-size: 20px;
  font-family: "Century Gothic";
  font-weight: bolder;
  text-decoration: none;
  color: white;
  background-color: #c62f2d;
  text-align: center;
  padding-bottom: 1%;
}

.task-update-button{
  width: 18%;
  margin-bottom: -5%;
  height: 1.85rem;
  border-radius: 15px;
  border-style: none;
  font-size: 20px;
  font-family: "Century Gothic";
  font-weight: bolder;
  text-decoration: none;
  color: white;
  background-color: #9caf9f;
  text-align: center;
  padding-bottom: 1%;
}

.create-task-form button{
  margin: 2%;
  margin-top: -2%;
  width: 18%;
  margin-bottom: -5%;
  height: 1.85rem;
  border-radius: 15px;
  border-style: none;
  font-size: 20px;
  font-family: "Copperplate Gothic Light";
  font-weight: bolder;
  color: #ffff;
  background-image: linear-gradient(to right, #189dff, #6109ff);
}

.create-task-button {
  margin: 2%;
  margin-top: -2%;
  width: 8%;
  margin-bottom: -5%;
  height: 1.75rem;
  border-radius: 15px;
  border-style: none;
  font-size: 20px;
  font-family: "Copperplate Gothic Light";
  font-weight: bolder;
  color: #ffff;
  background-image: linear-gradient(to right, #189dff, #6109ff);
}

.incomplete-button {
  margin: 2%;
  margin-right: -0.5%;
  padding: 0.2rem;
  width: 33%;
  border-radius: 15px;
  border-style: none;
  font-size: 25px;
  font-family: "Copperplate Gothic Light";
  font-weight: bolder;
  background-color: white;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task-created-message {
  border-radius: 25px;
  padding: .6rem;
  width: 30%;
  text-align: center;
  background-color: #d2f4db;
  color: #46763a;
  list-style: none;
  margin: auto;
  margin-top: 1%;
  position: inherit;
  margin-bottom: 0%;
}

.username {
  font-size: 75px;
  font-family: "Century Gothic";
  width: fit-content;
  font-weight: bolder;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin-bottom: -7.5%;
  left: 25%;

}

.message {
  font-size: 35px;
  font-family: "Century Gothic";
  margin-top: 7%;
  font-weight: bolder;
  width: fit-content;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 25%;
}

.incomplete-button-active {
  margin: 2%;
  margin-right: -0.5%;
  padding: 0.2rem;
  width: 33%;
  border-radius: 15px;
  border-style: none;
  font-size: 25px;
  font-family: "Copperplate Gothic Light";
  font-weight: bolder;
  background-color: white;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid gray;
}

.completed-button {
  margin: 2%;
  margin-left: -0.5%;
  padding: 0.2rem;
  width: 33%;
  border-radius: 15px;
  border-style: none;
  font-size: 25px;
  font-family: "Copperplate Gothic Light";
  font-weight: bolder;
  background-color: white;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.completed-button-active {
  margin: 2%;
  margin-left: -0.5%;
  padding: 0.2rem;
  width: 33%;
  border-radius: 15px;
  border-style: none;
  font-size: 25px;
  font-family: "Copperplate Gothic Light";
  font-weight: bolder;
  background-color: white;
  background: -webkit-linear-gradient(135deg,#7957f5, #fe7507);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid gray;
}
.completed-main-panel {
  background-color: white;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
  text-align: center;
  width: 35%;
  border-radius: 25px;
  padding: 2rem;
  overflow: auto
}
.task-list {
  list-style: none;
  border-bottom: solid gray 1px;
  padding: 2%;
  margin-right: 10%;
  text-align: center;
}

.delete-button {
  color: white;
  background-color: #c62f2d;
  border-style: none;
  border-radius: 15px;
  width: 12%;
  height: 25px;
}

.update-button {
  color: white;
  background-color: #9caf9f;
  border-style: none;
  border-radius: 15px;
  width: 12%;
  height: 25px;
}

.task-detail {
  color: white;
  background-color: #189dff;
  border-style: none;
  border-radius: 15px;
  width: 40%;
  height: 25px;
}

.logout-button {
  width: 8%;
  height: 1.75rem;
  border-radius: 15px;
  border-style: none;
  font-size: 20px;
  position: fixed;
  margin-left: 85%;
  font-weight: bolder;
  color: #ffff;
  background-image: linear-gradient(to right, #189dff, #6109ff);
}
