{% extends 'users/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'users/users.css' %}">{% endblock css %}

{% block content %}
<div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
                <fieldset>
                    <legend>Log In</legend>
                    {% for field in form %}
                    <div class="form-control {% if field.errors %}errors{% endif %}">
                    {{ field }}
                    {{ field.errors }}
                    </div>
                    {% endfor %}
                    <button>Log In</button>
                </fieldset>
        </form>
            <div>
                <small>
                    Don't have an account? <a href="{% url 'register' %}">Sign Up</a> Instead
                </small>
            </div>
    </div>
</div>
{% endblock content %}
