{% extends 'users/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'users/users.css' %}">{% endblock css %}

{% block content %}
<div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class = "account-created-message"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <form method="POST" novalidate>
            {% csrf_token %}
                <div class = 'login-panel'>
                    <legend class = 'login-card-title'>Log In</legend>
                    {% for field in form %}
                    <div class="form-control {% if field.errors %}errors{% endif %}">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <hr>
                    <button class = 'login-button'>Log In</button>
                    <div>
                        <small class = 'sign-in-instead'>
                            Don't have an account?<a href="{% url 'register' %}"> Sign Up</a> Instead
                        </small>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock content %}
