{% extends 'users/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'users/users.css' %}">{% endblock css %}

{% block content %}
<div>
    <div class = "text-group">
        <h1 class = "text-one">Manage all of your tasks,</h1>
        <h1 class = "text-two">from just one place.</h1>
        <p class = 'text-paragraph'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class = "account-created-message"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <form method="POST" novalidate>
            {% csrf_token %}
                <div class = 'login-panel'>
                    <legend class = 'login-card-title'>Log In</legend>
                    {% for field in form %}
                    <div class="form-control {% if field.errors %}errors{% endif %}">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <hr>
                    <button class = 'login-button'>Log In</button>
                    <div>
                        <small class = 'sign-in-instead'>
                            Don't have an account?<a href="{% url 'register' %}"> Sign Up</a> Instead
                        </small>
                    </div>
                </div>
        </form>
        <div class = 'krishab-tag'>
            <p class =>Built by Krishab Bashyal from the ground up with Django</p>
        </div>
    </div>
</div>
{% endblock content %}
