{% extends 'users/base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'users/users.css' %}">{% endblock css %}

{% block content %}


<div>
    <div class = "text-group">
        <h1 class = "text-one">Just a couple more steps,</h1>
        <h1 class = "text-two">see you soon.</h1>
        <p class = 'text-paragraph'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <form method = "POST" novalidate>
        {% csrf_token %}
            <div class = 'register-panel'>
                <legend class = 'register-card-title'>Sign Up</legend>
                {% for field in form %}
                <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field }}
                {{ field.errors }}
                </div>
                {% endfor %}
                <hr>
                <button class = 'create-button'>Create</button>
                <div>
                    <small class = 'log-in-instead'>
                        Already have an account?<a href="{% url 'login' %}"> Log In</a> Instead
                    </small>
                </div>
            </div>
    </form>
    <div class = 'krishab-tag'>
        <p class =>Built by Krishab Bashyal from the ground up with Django</p>
    </div>
</div>
{% endblock content %}