{% extends 'users/base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'users/users.css' %}">{% endblock css %}

{% block content %}


<div>
    <form method = "POST" novalidate>
        {% csrf_token %}
            <div class = 'register-panel'>
                <legend class = 'register-card-title'>Sign Up</legend>
                {% for field in form %}
                <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field }}
                {{ field.errors }}
                </div>
                {% endfor %}
                <hr>
                <button class = 'create-button'>Create</button>
                <div>
                    <small class = 'log-in-instead'>
                        Already have an account?<a href="{% url 'login' %}"> Log In</a> Instead
                    </small>
                </div>
            </div>
    </form>
    <div class = 'krishab-tag'>
        <p class =>Built by Krishab Bashyal from the ground up with Django</p>
    </div>
</div>
{% endblock content %}