{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block content %}
<div>
    <div>
        <a href="{% url 'logout' %}"><button>Log Out</button></a>
    </div>
    <div>
        <h1>Hello {{user.first_name}}!</h1>
        <h3>Look back at everying you've accomplished here.</h3>
    </div>
    <div class = 'completed-main-panel'>
        <div>
            <a href="{% url 'incompleted' %}"><button class = "incomplete-button">Incomplete</button></a><a href="{% url 'completed' %}"><button class = "completed-button-active">Completed</button></a>
        </div>

        <div>
            <ul>
                {% for task in tasks %}
                        <li class = "task-list"><a href = "{% url 'taskDetail' pk=task.pk%}"><button id = 'task-name'>{{task.title}}</button></a>
                        <a href = "{% url 'taskUpdate' pk=task.pk%}"><button>Update</button></a>
                        <a href = "{% url 'taskDelete' pk=task.pk%}"><button>Delete</button></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}