{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block content %}
<div>
    <div class = "task-created-message">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class = "log-out-button">
        <a href="{% url 'logout' %}"><button>Log Out</button></a>
    </div>
        <h1>Hello {{user.first_name}}!</h1>
        <h3>Let's be productive today.</h3>
    </div>
    <div class = 'incompleted-main-panel'>
        <div>
            <a href="{% url 'incompleted' %}"><button class = "incomplete-button-active">Incomplete</button></a><a href="{% url 'completed' %}"><button class = "completed-button">Completed</button></a>
        </div>
        <div>
            <a href="{% url 'taskCreate' %}"><button class = "create-task-button"> + </button></a>
        </div>
        <div>
            <ul>
                {% for task in tasks %}
                    <li class = "task-list"><a href = "{% url 'taskDetail' pk=task.pk%}"><button id = 'task-name'>{{task.title}}</button></a>
                        <a href = "{% url 'taskUpdate' pk=task.pk%}"><button>Update</button></a>
                        <a href = "{% url 'taskDelete' pk=task.pk%}"><button>Delete</button></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}