{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block content %}
<div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'logout' %}"><button>Log Out</button></a>
    </div>
        <h1>Hello {{user.first_name}}!</h1>
        <h3>Let's be productive today.</h3>
    </div>
    <div>
        <a href="{% url 'incompleted' %}"><button>Incompleted</button></a><a href="{% url 'completed' %}"><button>Completed</button></a>
    </div>
    <div>
        <a href="{% url 'taskCreate' %}"><button> + </button></a>
    </div>
    <div>
        <ul>
            {% for task in tasks %}
                <li><a href = "{% url 'taskDetail' pk=task.pk%}"><button>{{task.title}}</button></a>
                    <a href = "{% url 'taskUpdate' pk=task.pk%}"><button><img src="{% static 'main/Edit.png' %}" alt="Edit"></button></a>
                    <a href = "{% url 'taskDelete' pk=task.pk%}"><button><img src="{% static 'main/Trash.png' %}" alt="Delete"></button></a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}