{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block title %}Update a Task{% endblock title %}

{% block content %}
<h1 class = "page-title">Update your task.</h1>
<div class = "task-update-form">
    <form method = "POST">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-control {% if field.errors %}errors{% endif %}">
                    {{ field.label_tag }}
                        {{ field }}
                    {{ field.errors }}
                    <hr>
                </div>
            {% endfor %}
        <button class = "task-update-button" type ="submit">Submit</button>
        <button class = "task-cancel-button" type="button" onclick="history.back()">Cancel</button>
    </form>
</div>
{% endblock content %}