{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block title %}Create a Task{% endblock title %}

{% block content %}
<div>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button>Delete</button>
    </form>
    {% if task.completion %}
        <a href="{% url 'completed' %}"><button>Cancel</button></a>
        {% else %}
        <a href="{% url 'incompleted' %}"><button>Cancel</button></a>
        {% endif %}
</div>
{% endblock content %}