{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block title %}Create a Task{% endblock title %}

{% block content %}
<h1 class = "page-title">Confirm task deletion.</h1>
<div class = "delete-task-panel">
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <p>If the task has been completed you should change status instead.</p>

        <button class = "task-update-button" type="button" onclick="history.back()">Cancel</button>
        <button class = "task-cancel-button" type ="submit">Delete</button>

    </form>
</div>
{% endblock content %}