{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block title %}Task{% endblock title %}

{% block content %}
<div>
    <h1>{{task.title}}</h1>
    <p>{{task.description}}</p>
    {% if task.due_date %}
        <p>Due Date: {{task.due_date}}</p>
    {% endif %}
    <p>Task Completion: {{task.completion}}</p>
    {% if task.completion %}
        <a href="{% url 'completed' %}"><button>Done</button></a>
    {% else %}
        <a href="{% url 'incompleted' %}"><button>Done</button></a>
    {% endif %}
</div>



{% endblock content %}