{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block title %}Create a Task{% endblock title %}

{% block content %}
<div>
    <form method = "POST">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-control {% if field.errors %}errors{% endif %}">
                    {{ field.label_tag }}
                        {{ field }}
                    {{ field.errors }}
                    <hr>
                </div>
            {% endfor %}
        <button>Submit</button>
    </form>
</div>
{% endblock content %}