{% extends 'main/base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'main/main.css' %}">{% endblock css %}

{% block title %}Task{% endblock title %}

{% block content %}
<h1 class = "page-title">Task: {{task.id}} - {{task.title}}</h1>
<div class = "task-detail-page">
    <h1>{{task.title}}</h1>
    <p>{{task.description}}</p>
    {% if task.due_date %}
        <p>Due Date: {{task.due_date}}</p>
    {% endif %}
    {% if task.completion %}
        <p>Task Status: Completed</p>
    {% else %}
        <p>Task Status: Incomplete</p>
    {% endif %}
    <button class = "task-update-button" type="button" onclick="history.back()">Go Back</button>

</div>



{% endblock content %}